@model WalletCategoryTransactionViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row mb-3">
    <div class="col-md-2">
        <form method="get">
            <div class="form-label mb-3">
                <label class="form-label">Select a Wallet</label>
                <select name="id" asp-items="Model.Wallets" class="form-select">
                    <option value="-1">-- Choose a Wallet --</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Select</button>
            <input class="btn btn-success" type="button" data-bs-toggle="modal"
                   data-bs-target="#addWalletModal"
                   value="New"/>
        </form>
    </div>
</div>

@if (Model.Wallet is not null)
{
    <div class="card shadow">
        <div class="card-body fw-bold">
            <div class="card-title">
                <p class="text-center text-success fs-5">@Model.Wallet.Name</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="card-text">Income:</p>
                <p class="card-text">$@Model.Wallet.Income</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="card-text">Expenditure:</p>
                <p class="card-text">$@Model.Wallet.Expenses</p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="card-text">Balance:</p>
                <p class="card-text">$@Model.Wallet.Balance</p>
            </div>
        </div>
    </div>

    <h3 class="mt-4">Transactions</h3>
    <div class="card shadow">
        <div class="card-body fw-bold">
            <div class="card-title d-flex justify-content-between">
                <h4>History</h4>
                <input class="btn rounded-pill btn-success" type="button" data-bs-toggle="modal"
                       data-bs-target="#addTransactionModal"
                       value="Add New Transaction"/>
            </div>
            <br/>
            @if (Model.Transactions is not null)
            {
                @foreach (var transaction in Model.Transactions)
                {
                    <p class="card-text">Transaction: @transaction.Name</p>
                    <p class="card-text">Description: @transaction.Description</p>
                }
            }
        </div>
    </div>
}
else
{
    <p class="text-center">Choose a wallet to view transactions</p>
}

<!-- Add Transaction Modal -->

<div class="modal fade" id="addTransactionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">Add a Transaction</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addTransactionForm" method="post" asp-action="AddTransaction">
                <div class="modal-body">
                    @* <input type="hidden" asp-for="@Model.Wallet.Id"/> *@
                    <div class="mb-3 form-label">
                        <label for="transactionName" class="form-label">Transaction</label>
                        <input type="text" class="form-control" placeholder="Enter Name of Transaction" id="transactionName">
                    </div>
                    <div class="mb-3 form-label">
                        <label for="transactionDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" placeholder="Enter the Description" id="transactionDescription">
                    </div>
                    <div class="mb-3 form-label">
                        <label for="transactionCost" class="form-label">Cost</label>
                        $<input type="number" class="form-control" placeholder="0.00" id="transactionCost">
                    </div>
                    <div class="form-label">
                        <label for="transactionMonth" class="form-label">Select a Month</label>
                        <select id="transactionMonth" asp-items="Html.GetEnumSelectList<Month>()" class="form-select">
                            <option value="">-- Choose a Month --</option>
                        </select>
                    </div>
                    <div class="form-label">
                        <label for="categoryId" class="form-label">Select a Category</label>
                        <select id="categoryId" asp-items="Model.CategoriesSelectList" class="form-select">
                            <option value="-1">-- Choose a Category --</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="addTransaction()" class="text-success btn btn-light">Add</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Wallet Modal -->

<div class="modal fade" id="addWalletModal" tabindex="-1" aria-labelledby="addModalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="addModalModalLabel">Add a Wallet</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addWalletForm" method="post" asp-action="AddWallet">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="walletName" class="form-label">Wallet</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter Name of Wallet" id="walletName">
                    </div>
                    <div class="mb-3">
                        <label for="walletIncome" class="form-label">Income</label>
                        $<input type="number" name="income" class="form-control" placeholder="0.00" id="walletIncome">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="addWallet()" class="text-success btn btn-light">Add</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>